@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {

  --accent-1: #f3f5f4; 
  --accent-2: #ecf1ee; 
  --accent-3: #deece3; 
  --accent-4: #cfe5d7; 
  --accent-5: #bfdcc9; 
  --accent-6: #aacfb8; 
  --accent-7: #8ebfa2; 
  --accent-8: #66a983; 
  --accent-9: #2f855a; 
  --accent-10: #1d774d; 
  --accent-11: #167349;
  --accent-12: #23392c; 
  --gray-1: #f4f4f4;
  --gray-2: #f0f0f0;
  --gray-3: #e6e6e6;
  --gray-4: #dedede;
  --gray-5: #d6d6d6;
  --gray-6: #cecece;
  --gray-7: #c2c2c2;
  --gray-8: #afafaf;
  --gray-9: #818181;
  --gray-10: #767676;
  --gray-11: #585858;
  --gray-12: #202020;

  /* Backgrounds */
  --bg-app: var(--gray-1);
  --bg-panel: var(--gray-2);
  --bg-accent-subtle: var(--accent-2);
  /* Interactive Components */
  --component-bg: var(--gray-3);
  --component-bg-hover: var(--gray-4);
  --component-bg-active: var(--gray-5);
  --accent-component-bg: var(--accent-3);
  --accent-component-bg-hover: var(--accent-4);
  --accent-component-bg-active: var(--accent-5);
  /* Borders */
  --border-subtle: var(--gray-6);
  --border-default: var(--gray-7);
  --border-strong: var(--gray-8);
  --accent-border-subtle: var(--accent-6);
  --accent-border-default: var(--accent-7);
  --accent-border-focus: var(--accent-8);
  /* Solids */
  --solid-bg: var(--accent-9);
  --solid-bg-hover: var(--accent-10);
  --solid-text: #ffffff;
  /* Text */
  --text-low-contrast: var(--gray-11);
  --text-high-contrast: var(--gray-12);
  --text-accent-low: var(--accent-11);
  --text-accent-high: var(--accent-12);
}
.dark {
  --accent-1: #151c18;
  --accent-2: #17211b;
  --accent-3: #163223;
  --accent-4: #123f28;
  --accent-5: #154c31;
  --accent-6: #1c593b;
  --accent-7: #226a46;
  --accent-8: #267e53;
  --accent-9: #2f855a;
  --accent-10: #1d774d;
  --accent-11: #79cc9d;
  --accent-12: #abf3c8;
  --gray-1: #1a1a1a;
  --gray-2: #212121;
  --gray-3: #292929;
  --gray-4: #2f2f2f;
  --gray-5: #363636;
  --gray-6: #3e3e3e;
  --gray-7: #4a4a4a;
  --gray-8: #616161;
  --gray-9: #6e6e6e;
  --gray-10: #7c7c7c;
  --gray-11: #b4b4b4;
  --gray-12: #eee;

  /* Backgrounds */
    --bg-app: var(--gray-1);
  --bg-panel: var(--gray-2);
  --bg-accent-subtle: var(--accent-2);
  /* Interactive Components */
  --component-bg: var(--gray-3);
  --component-bg-hover: var(--gray-4);
  --component-bg-active: var(--gray-5);
  --accent-component-bg: var(--accent-3);
  --accent-component-bg-hover: var(--accent-4);
  --accent-component-bg-active: var(--accent-5);
  /* Borders */
  --border-subtle: var(--gray-6);
  --border-default: var(--gray-7);
  --border-strong: var(--gray-8);
  --accent-border-subtle: var(--accent-6);
  --accent-border-default: var(--accent-7);
  --accent-border-focus: var(--accent-8);
  /* Solids */
  --solid-bg: var(--accent-9);
  --solid-bg-hover: var(--accent-10);
  --solid-text: #ffffff;
  /* Text */
  --text-low-contrast: var(--gray-11);
  --text-high-contrast: var(--gray-12);
  --text-accent-low: var(--accent-11);
  --text-accent-high: var(--accent-12);
}

@theme {
  --color-bg-app: var(--bg-app);
  --color-bg-panel: var(--bg-panel);
  --color-bg-accent-subtle: var(--bg-accent-subtle);
  --color-component-bg: var(--component-bg);
  --color-component-bg-hover: var(--component-bg-hover);
  --color-component-bg-active: var(--component-bg-active);
  --color-accent-component-bg: var(--accent-component-bg);
  --color-accent-component-bg-hover: var(--accent-component-bg-hover);
  --color-accent-component-bg-active: var(--accent-component-bg-active);
  --color-border-subtle: var(--border-subtle);
  --color-border-default: var(--border-default);
  --color-border-strong: var(--border-strong);
  --color-accent-border-subtle: var(--accent-border-subtle);
  --color-accent-border-default: var(--accent-border-default);
  --color-accent-border-focus: var(--accent-border-focus);
  --color-solid-bg: var(--solid-bg);
  --color-solid-bg-hover: var(--solid-bg-hover);
  --color-solid-text: var(--solid-text);
  --color-text-low-contrast: var(--text-low-contrast);
  --color-text-high-contrast: var(--text-high-contrast);
  --color-text-accent-low: var(--text-accent-low);
  --color-text-accent-high: var(--text-accent-high);
}
